@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
  background-color: rgb(197 236 217);
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

h3 {
  color: rgba(40, 166, 166, 0.79);
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.CitySuggestions {
  top: 60px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 450px;
  max-width: 450px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  z-index: 2;
  align-self: center;
  margin: auto;
  top: 67px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover, .suggestion > li:focus, .suggestion > li:active {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.event-count-label {
  padding: 5px 0;
}

.event-title {
  color: #8884d8
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #9677bc
}

.google-btn {
  background-color: #f6b5ae;
  border-color: #fa8072;
  color: #000;
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 10px;
  max-width: 150px
}

.google-btn:hover {
  cursor: pointer;
  background-color: #fa8072;
}

.show-details, .hide-details {
  margin-top: 10px;
  border-radius: 4px;
  color: #000
}

.show-details:hover, .hide-details:hover {
  cursor: pointer;
  background-color: #a9a9a9;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.NumberOfEvents {
  width: 250px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  top: 20px;
}

.offline-alert {
  margin: 15px 0 10px 0;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.recharts-responsive-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}